/*
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
*/

body{
    background-color: black;
    color: white;
}

h1 {
 text-align: center;
}

#nameForm {
    display: flex;
    justify-content:center
    
}

#name, #rules {
    text-align: center;
}

#scoreBoard {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
text-align: center;

}


#btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    
    

}





.die{
    padding: 1%;
    width: 5%;
    aspect-ratio: 1/1;
    border-radius: 5%;
    border: 2px solid gray;
    background: hsl(40, 30%, 98%);
    display: flex;
  
}

/* dots */
.die div{
    background: black;
    border-radius: 50%;
    width: 25%;
    aspect-ratio: 1/1;
}

/* one */
.one{
    justify-content: center;
    align-items: center;
    float: left;
}

/* two */
.two{
    justify-content: space-between;
    align-items: center;
    float: left;
}

/* three */
.three{
    justify-content: space-around;
    align-items: center;
    float: left;
}
.three > :first-child{
    align-self: flex-start;
}
.three > :last-child{
    align-self: flex-end;
}

/* four */
.four{
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap;
    float: left;
}
.four > :first-child, .four > :nth-child(2){
    align-self: flex-start;
}
.four > :first-child, .four > :nth-child(3){
    margin-right: 50%;
}

/* five */
.five{
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    float: left;
}
.five > :first-child, .five > :nth-child(4){
    margin-right: 50%;
}
.five > :nth-child(3){
    margin: 0 37.5%;
    justify-self: center;
    align-self: center;
}
.five > :last-child, .five > :nth-child(4){
    align-self: flex-end;
}

/* six */
.six{
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    float:flex;
}
.six > :nth-child(2n+1){
    margin-right: 50%;
}
.six > :nth-child(3), .six > :nth-child(4){
    align-self: center;
}
.six > :nth-child(5), .six > :last-child{
    align-self: flex-end;
}